body{
        font-weight: 100;
        /* background: radial-gradient(#a23982 ,#1f1013); */
        background-attachment:fixed;
        background-size:cover;
    }
        

        .light {
            position: absolute;
            width: 0px;
            opacity: .75;
            background-color: white;
            box-shadow: #e9f1f1 0px 0px 20px 2px;
            opacity: 0;
            top: 100vh;
            bottom: 0px;
            left: 0px;
            right: 0px;
            margin: auto;}

        /* ul li {
            display: inline;
            margin: 3px; 
        }
        
        ul li a {
            text-decoration: none;
            color:white;
            font-size: 22px;
            padding: 10px 15px; border-radius:15%; border-bottom:2px solid white; }
        
        ul li:hover{
            background-color: white;
            padding: 10px 15px;
            border-radius: 50px;
            margin-bottom: black; ;
        }
        
        ul li a:hover{
            color: #a23982   ;
        } */


        #head5{
            -webkit-animation: finalFade 1 5s ease-in;
            -moz-animation: finalFade 1 5s ease-in;
            -o-animation: finalFade 1 5s ease-in;
            animation: finalFade 1 5s ease-in;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            -o-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-delay: 22s;
            -moz-animation-delay: 22s;
            -o-animation-delay: 22s;
            animation-delay: 22s;
        text-align: center; margin-top: 100px; font-size:large;
    font-weight: bold; color: white; font-size:100px; text-shadow: 5px 10px 10px black;}
          
    #intro{ text-align: center; margin-top: 1px; font-size:medium;
        font-weight: bold; color: white; font-size :30px; text-shadow: 5px 5px 10px black;
         padding-left: 50px; padding-right: 50px; }
/* 
        button {
            
            border: 2px solid white;
            background: transparent;
            font-family: 'Roboto', sans-serif;
            color: white;
            width: 250px;
            height: 50px;
            font-size: 2em;
            border-radius: 5px;
            opacity: .5;
            top: 60vh;
            bottom: 0px;
            left: 0px;
            right: 0px;
            margin-top: 50px;
            margin-left: 100px;
            transition: .3s;
            margin-top: 200px; */
          }
          
          button:hover{
            border: 2px solid #104F55;
            background-color: rgba(365,365,365,0.5);
            cursor: pointer;
            color: #104F55;
            opacity: .8;
            transition: .3s;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}
         
#intro{ font-size: 30px; color: white; margin-top: 150px;} 
 #goat {color: black}

 #finegeh{ height: 200px;  width: 100%;}

 ol li {
    display:flex;
    margin: 3px; 
}

ol li a {
    text-decoration: none;
    color:black;
    font-size: 30px;
    display: inline;
    padding: 10px 15px; 
     border-bottom:2px solid black ; }

    .card{
        margin-top: 100px;width: 400px;
    }
    h5{
        text-shadow: 5px 5px 10px #2C5483;
    }

    

    
      
      .submit{
        font-size: 1.1em;
        float: right;
        width: 150px;
        background-color: transparent;
        color: #fff;
      
      }
      
      #nav{ height: 50px; color: white;
    font-size: 20px;   }
  #carousel{ width: 40%; height: 200px; margin-top:200px}
 



  fhis contact form

  #contactme{
    background-color: black;
    font-family: "Nunito Sans";
    }
    .login-form{
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    background-color: black;
    padding: 25px;
    }
    h3{ color: white;
    padding-left:30px;
    padding-right: 20px;
    }
    h2{color: white;
   font-size: 50px;
   font-weight: bold; 
   margin-left: 20px;
    }

    h4{color: #fff; margin-left: 30px; }
    .btn-custom{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    font-weight:700;
    height: 48px;
    }
    .btn-custom{
    color: #fff !important;
    }
    input{
    height: 52px;
    font-size: 18px !important;
    color: black;
    }
    .form-control:focus{
    box-shadow: 0 0 0 0 rgba(13,110,253,.25);
    }
    a{
    text-decoration: none;
    }
    a:hover{
    text-decoration: underline;
    }
    @media(max-width: 768px){
      .col-md-7,p{
        display: none;
      }
      input{
        font-size: 20px !important;
      }
      .login-form{
        box-shadow: none;
      }
    }
  
  /* textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
*/
